braceexpand~=0.1
contourpy~=1.3
cvzone~=1.6
cycler~=0.12
ffmpeg-python~=0.2
filelock~=3.18
fonttools~=4.56
fsspec~=2025.2
future~=1.0
grad-cam~=1.5
Jinja2~=3.1
joblib~=1.4
kiwisolver~=1.4
MarkupSafe~=3.0
matplotlib~=3.10
mpmath~=1.3
networkx~=3.2
numpy~=2.0
opencv-python~=4.11
packaging~=24.2
pandas~=2.2
pillow~=11.1
pygame~=2.6
pyparsing~=3.2
python-dateutil~=2.9
pytz~=2025.2
PyYAML~=6.0
scikit-learn~=1.6
scipy~=1.15
setuptools~=78.1
six~=1.17
sympy~=1.13
threadpoolctl~=3.6
torch~=2.6
torchvision~=0.21
tqdm~=4.67
ttach~=0.0
typing_extensions~=4.12
tzdata~=2025.2
webdataset~=0.2
