av==14.3.0
braceexpand==0.1.7
contourpy==1.3.1
cvzone==1.6.1
cycler==0.12.1
ffmpeg-python==0.2.0
filelock==3.18.0
fonttools==4.57.0
fsspec==2025.3.0
future==1.0.0
grad-cam==1.5.4
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.4
opencv-python==4.11.0.86
packaging==24.2
pandas==2.2.3
pillow==11.2.1
pygame==2.6.1
pyparsing==3.2.1
PySDL2==0.9.17
pysdl2-dll==2.32.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
sympy==1.13.1
threadpoolctl==3.6.0
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
ttach==0.0.3
typing_extensions==4.13.1
tzdata==2025.2
webdataset==0.2.111
